@import "tailwindcss";

@layer base {
  :root {
    --atg-aa-color-black-100: #020203;
    --atg-aa-color-white-100: #fcfcfd;
    --atg-aa-color-grey-100: #707785;
  }
  body {
    background-color: var(--atg-aa-color-black-100);
    color: var(--atg-aa-color-white-100);
    font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    overflow-x: hidden;
  }
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
